<footerclass="footer">
    <small>
     The <ahref="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
     by <ahref="https://www.michaelhartl.com/">Michael Hartl</a>
    </small>
<nav>
        <ul>
            <li><a href="https://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>